Source: xapers
Section: python
Priority: optional
Maintainer: Jameson Rollins <jrollins@finestructure.net>
Build-Depends:
 pkg-config,
 python-all-dev (>= 2.6.6-3~),
 python-setuptools,
 debhelper (>= 9)
Standards-Version: 3.9.4

Package: xapers
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends},
 python-xapian
Recommends:
 python-urwid,
 mime-support
Description: Xapian-based document indexing system
 Xapers!
